.btn {
  background: none;
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  line-height: 16px;

  &:focus {
    outline: none;
  }

  &--outline {
    @include button($main-theme, transparent, $main-theme, 2px);
  }

  &--uppercase {
    text-transform: uppercase;
  }

  &--full-width {
    width: 100%;
    display: block;
  }
}
