.link {
  font-size: 14px;
  line-height: 17px;
  color: $main-theme;
  text-decoration: none;

  svg {
    margin-right: 15px;
    vertical-align: sub;
  }

  span {
    border-bottom: 1px solid rgba($main-theme, 50%);
  }
}
