<div class="main-promo">
  <div class="main-promo-content">
    <svg  class="main-promo-logo">
      <use xlink:href="assets/img/symbol/sprite.svg#gull-logo" />
    </svg>
    <h2 class="main-promo-title">
      <span>Жилой комплекс «Чайка»</span>
      <br />
      <span>Традиции комфорта!</span>
    </h2>
    <a href="#" class="btn main-promo-btn">Выбрать квартиру</a>
  </div>
  <div class="main-promo-img"></div>
  <div class="main-promo-details">
    <small>Эксклюзивное предложение</small>
    <h3>Квартиры — пентхаус
      с панорамными окнами</h3>
    <button class="btn">
      <svg width="11" height="11">
        <use xlink:href="assets/img/symbol/sprite.svg#close" />
      </svg>
    </button>
  </div>
</div>
