<div class="main-nav">
  <div class="main-nav-inner container">
    <h2 class="main-nav-title">Жилой комплекс «Чайка»</h2>
    <ul class="main-nav-list">
      <li class="main-nav-item">
        <a href="#">Квартиры</a>
      </li>
      <li class="main-nav-item">
        <a href="#">Кладовые</a>
      </li>
      <li class="main-nav-item">
        <a href="#">Коммерческая недвижимость</a>
      </li>
      <li class="main-nav-item">
        <a href="#">Машиноместо</a>
      </li>
    </ul>
  </div>
</div>
